<div class='general-form-trips'>

  <h1>Resultados da Busca</h1>

  <div>
    <table class="table">
      <tbody>
        <% @trips.each do |trip| %>
          <tr>
            <td><%= image_tag trip.avatar.url(:thumb) %></td>
            <td><%= trip.name %></td>
            <td><%= trip.origin %></td>
            <td><%= trip.destination %></td>
            <td><%= trip.price %></td>
            <td><%= trip.in_date %></td>
            <td><%= trip.out_date %></td>
            <td><%= trip.category %></td>
            <td><%= trip.description %></td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                    <%= link_to 'Tenho interesse', trip, :class => 'btn btn-default', data: { confirm: 'Se você confirmar mandaremos alguns dos seus dados pessoais de cadastro (Nome, Telefone e Email) para a agência de viagem entrar em contato. Confirma?' } %>
                    <%= link_to 'Detalhar', trip, :class => 'btn btn-default'%>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>

  <br>
</div>
