<div class='panel panel-default general-form-trips'>
  <div class="search-container">
    <div class="search-form2">
        <h2 class='second-title'>BUSCAR VIAGENS</h2><br>
        <%= render 'trips/search_trip' %>
    </div>
  </div>

  <div class="table-container">
    <h1>Resultados da Busca</h1>

      <table class="table table-striped table-hover">
        <tbody>
          <% @trips.each do |trip| %>
            <tr class="tr-teste">
              <td class="td1-teste">
                <%= image_tag trip.avatar.url(:thumb), :class => 'thumbnail' %>
              </td>
              <td class="td2-teste">

                <div class="title-trip">
                  <%= trip.name %>
                </div>

                <div class="orig-dest">
                  Origem:<%= trip.origin %><br>
                  Destino: <%= trip.destination %>
                </div>
                
                <div class="preco-trip">
                  Valor:<%= trip.price %> 
                </div>
              
                <div class="">
                  <i class="fa fa-arrow-right"></i>
                  <%= trip.in_date %>
                  <i class="fa fa-arrow-left"></i>
                  <%= trip.out_date %>
                </div>

              <%= trip.category %>
              <%= trip.description %></td>
              <td>
                <div class="btn-group" role="group" aria-label="...">
                      <%= link_to 'Tenho interesse', user_request_path(:trip_id => trip.id), method: :post,:class => 'btn btn-default', :data => { :confirm => 'Se você confirmar mandaremos alguns dos seus dados pessoais de cadastro (Nome, Telefone e Email) para a agência de viagem entrar em contato. Confirma?' } %>
                      <%= link_to 'Detalhar', trip, :class => 'btn btn-default'%>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>  
    </div>
</div> 