<div class='general-trip-detail'>

  <% render 'trips/form' %>
  <div class="detail-title">
    <strong><%= @trip.name %></strong>
    <div class="cp-facebook">
      <%= link_to "https://www.facebook.com/sharer/sharer.php?u=" + request.original_url, :target => "_blank", :style=>"color:#fff;", class: "btn btn-facebook"  do %>
      <i class="fa fa-facebook"></i>
        | Compartilhar
      <% end %>
    </div> 
  </div>

  <div class="container img-trip-detail">
    <%= image_tag @trip.avatar.url(:original) %>
  </div>

  <div class="details-orig-dest">
    <i class="fa fa-plane"></i>
    <%= @trip.origin %><br>
    <i class="fa fa-plane fa-rotate-90"></i>
    <%= @trip.destination %>
  </div>

  <div>
    <i class="fa fa-arrow-right"></i>
    <%= @trip.in_date %>
    <i class="fa fa-arrow-left"></i>
    <%= @trip.out_date %>
  </div>

  <div class="trip-description">
    <%= @trip.description %>
  </div>

  <% if not @trip.posts.count == 0 %>
    <div class="comments-title">
      <i class="fa fa-2x fa-comments"></i>
      Comentários
    </div>
  
    <% @trip.posts.each do |post| %>
        <%= render :partial => 'posts/show', :locals => {:post => post} %>
    <% end %>
  <% end %>
</div>