<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :name%><br>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Nome Completo'%>
    </div>
  </div>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Endereço de Email'%>
    </div>
  </div>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :cpf %><br>
      <%= f.text_field :cpf, class: 'form-control', placeholder: 'CPF'%>
    </div>
  </div>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Número de Telefone'%>
    </div>
  </div>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :andress %><br>
      <%= f.text_field :andress, class: 'form-control', placeholder: 'Endereço completo'%>
    </div>
  </div>

  <div class="row control-group">
    <div class="field col-xs-4 form-group controls">
      <%= f.label :password %><br>
      <%= f.text_field :password, class: 'form-control', placeholder: 'Senha'%>
    </div>
  </div>

  <div>
    <%= f.submit 'Cadastrar', class: 'btn btn-danger bt-lg'%>
    <input type="submit" class="btn btn-info bt-lg" value="Já sou cadastrado">
  </div>
<% end %>
