<div class='general-form-trips'>

  <h1>Minhas Viagens</h1>
  <hr>
  <div>
    <table class="table">
      <tbody>
        <% @user.trips.each do |trip| %>
          <tr>
            <td><%= image_tag trip.avatar.url(:thumb) %></td>
            <td><%= trip.name %></td>
            <td><%= trip.category %></td>
            <td><%= trip.origin %></td>
            <td><%= trip.destination %></td>
            <td><%= trip.price %></td>
            <td><%= trip.in_date %></td>
            <td><%= trip.out_date %></td>
            <td><%= trip.description %></td>
            <td><div class="btn-group" role="group" aria-label="...">
              <%= link_to 'Detalhar', trip, :class => 'btn btn-default'%>
              <%= link_to 'Cancelar', trip, method: :delete, :class => 'btn btn-default', data: { confirm: 'Tem certeza que deseja deletar a viagem?' } %>
            </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>