<div class="box-login">  
  <h2>Painel de Autenticação</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row control-group espacament">
          <div class="field form-group controls">
              <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Informe seu e-mail' %>
          </div>
      </div>

      <div class="row control-group espacament">
          <div class="field form-group controls">
              <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Sua senha' %>
          </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          Relembrar senha
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar", :class => 'btn btn-info'%>
      </div>
  
  <% end %>

  <%= render "companies/shared/links" %>
</div>