<% @trips.each do |trip| %>
  <% trip.user_requests.each do |requests| %>
    <tr>
      <% if requests.status == 'Pendente' %>
        <td class="background-yellow"><%= trip.name %></td>
        <td class="background-yellow"><%= requests.user_name %></td>
        <td class="background-yellow"><%= requests.user_email %></td>
        <td class="background-yellow"><%= requests.user_phone %></td>
        <td class="background-yellow"><%= requests.status %></td>
        <td class="background-yellow">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to approve_request_path(:id => requests.id), :class => 'btn btn-success btn-xs', remote: true do %>
              Aprovar
            <% end %>
            <%= link_to reject_request_path(:id => requests.id), :class => 'btn btn-danger btn-xs', data: { confirm: 'Tem certeza que deseja rejeitar a requisição do usuário?' }, remote: true do %>
              Rejeitar
            <% end %>
          </div>
        </td>
      <% elsif requests.status == 'Confirmado' %>
        <td class="background-blue"><%= trip.name %></td>
        <td class="background-blue"><%= requests.user_name %></td>
        <td class="background-blue"><%= requests.user_email %></td>
        <td class="background-blue"><%= requests.user_phone %></td>
        <td class="background-blue"><%= requests.status %></td>
        <td class="background-blue"></td>
      <% elsif requests.status == 'Recusado' %>
        <td class="background-red"><%= trip.name %></td>
        <td class="background-red"><%= requests.user_name %></td>
        <td class="background-red"><%= requests.user_email %></td>
        <td class="background-red"><%= requests.user_phone %></td>
        <td class="background-red"><%= requests.status %></td>
        <td class="background-red"></td>
      <% elsif requests.status == 'Realizado' %>
        <td class="background-green"><%= trip.name %></td>
        <td class="background-green"><%= requests.user_name %></td>
        <td class="background-green"><%= requests.user_email %></td>
        <td class="background-green"><%= requests.user_phone %></td>
        <td class="background-green"><%= requests.status %></td>
        <td class="background-green"></td>
      <% end %>

    </tr>
  <% end %>
<% end %>

