<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Fastrip</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li class="page-scroll">
                    <a href="#toTraveler">Buscar viagens</a>
                </li>
                <li class="page-scroll">
                    <a href="#toCompany">Ofertar viagens</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Sobre</a>
                </li>
                <li class="page-scroll">
                    <p class='it-menu'>
                    <% if user_signed_in? %>
                        Bem vindo <strong><%= current_user.name %></strong>!
                        <%= link_to 'Edit profile', edit_user_registration_path %> 
                        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                    <% else %>
                        <%= link_to "Entrar", new_user_session_path, :class => 'btn btn-outline bt-lg'  %>
                    <% end %>
                    <p>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="toTraveler">
    <div class="container">
        <div class="row col-lg-12">
            <h2>Pesquisa</h2><br>
            <%= render 'trips/new' %>
            <% if not user_signed_in? %>
                <%= link_to "Cadastre-se!", new_user_registration_path, :class => 'btn btn-outline btn-white'  %> 
            <% end %>
        </div>
    </div>
</section>

<section id="toCompany" class=' success conteudo'>
    <div class="container">
        <div class="row col-lg-12">
            <h2>Para agência</h2><br>
            <%print resource_name.to_s.humanize%>
            <%= render 'companies/registrations/new' %>
        </div>
    </div>
</section>

<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p class='about-description'>Muito Prazer, sou Maycon Rafael Sacht, estudante de Bacharelado em Sistemas de Informação do Centro Universitário Católica de Santa Catarina. O Fastrip foi desenvolvido como proposta para o meu trabalho de conclusão de curso durante o ano de 2015.</p>
            </div>
            <div class="col-lg-4">
                <p class='about-description'>O objetivo do Fastrip é ser um canal centralizado de informações referentes a viagens onde tanto agências de viagens quanto usuários que estejam a procura de serviços oferecidos por estas agências possam ter agilidade no processo de contratação destes serviços. </p>
            </div>

        </div>
    </div>
</section>