<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fastrip</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li class="page-scroll">
                    <a href="#search-trip">Buscar viagens</a>
                </li>
                <li class="page-scroll">
                    <a href="#company">Ofertar viagens</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Sobre</a>
                </li>
                <li class="page-scroll">
                    
                    <% if user_signed_in? %>
                    <p class='it-menu'>
                        Bem vindo <strong><%= current_user.name %></strong>!
                        <%= link_to 'Edit profile', edit_user_registration_path %> 
                        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                        <p>
                    <% else %>
                        <div class="button-enter">
                            <%= link_to "Entrar", new_user_session_path, :class => 'btn submit-nav-buttons'  %>
                        </div>
                    <% end %>
                    
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="search-trip" class="to-traveler">
    <div class="container">
        <div class="row col-lg-12">
            <h2>Pesquisa</h2><br>
            
            <% if not user_signed_in? %>
                <%= link_to "Cadastre-se!", new_user_registration_path, :class => 'btn submit-buttons'  %> 
            <% end %>
        </div>
    </div>
</section>

<section id="company" class='to-company success conteudo'>
    <div class="container">
        <div class="row col-lg-12 company-registration">
            <h2>Para agência</h2><br>
            <% if not company_signed_in? %>
                <%= render 'companies/registrations/new' %>
            <% else %>
                Você já está logado!
                <%= link_to "Logout", destroy_company_session_path, :method => :delete %>
            <% end %>
        </div>
    </div>
</section>

<section  id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p class='about-description'>Muito Prazer, sou Maycon Rafael Sacht, estudante de Bacharelado em Sistemas de Informação do Centro Universitário Católica de Santa Catarina. O Fastrip foi desenvolvido como proposta para o meu trabalho de conclusão de curso durante o ano de 2015.</p>
            </div>
            <div class="col-lg-4">
                <p class='about-description'>O objetivo do Fastrip é ser um canal centralizado de informações referentes a viagens onde tanto agências de viagens quanto usuários que estejam a procura de serviços oferecidos por estas agências possam ter agilidade no processo de contratação destes serviços. </p>
            </div>

        </div>
    </div>
</section>