<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Andress:</strong>
  <%= @company.andress %>
</p>

<p>
  <strong>Password:</strong>
  <%= @company.password %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @company.access_token %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @company.uid %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @company.photo_url %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @company.provider %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
