<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@post, remote: remote, html: {role: :form, 'data-model' => 'post'}) do |f| %>

	De uma nota e comente os serviços oferecidos pela <%= request.trip.company.name %>
	
  <div class="field form-group point-comp">
		<div class="btn-group" data-toggle="buttons">

      <%= f.label :note, class: "btn btn-primary btn-xs active" do %>
        <%= f.radio_button :note, 1, checked: true %>
        1
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 2 %>
        2
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 3 %>
        3
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 4 %>
        4
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 5 %>
        5
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 6 %>
        6
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 7 %>
        7
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 8 %>
        8      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 9 %>
        9
      <% end %>
      <%= f.label :note, class: "btn btn-primary btn-xs" do %>
        <%= f.radio_button :note, 10 %>
        10
      <% end %>
    </div>
  </div>

  <%= f.radio_button :trip_id, request.trip.id, checked: true, class: "active", style: "display:none;"%>
  
  <div class="form-group">
  	 Pontos positivos <i class="fa fa-smile-o"></i>
    <%= f.text_area :opinion_best, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    Pontos negativos <i class="fa fa-frown-o"></i>
    <%= f.text_area :opinion_worst, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    Comente a sua expêriencia com a/o <%= request.trip.name %>
    <%= f.text_area :opinion_local, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <%= f.submit 'Concluir', class: 'btn btn-default' %>
  </div>

<% end %>