<html lang="pt-br">

	<head>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Trabalho de conclusão de curso BSI">
	    <meta name="author" content="Maycon Sacht">

	    <title>Fastrip</title>

	    <%= stylesheet_link_tag    "application", :media => "all" %>
	    <%= javascript_include_tag "application" %>
	    <%= csrf_meta_tags %>

	    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	</head>

	<body>
		<div class="geral">
			<nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container">
			        <div class="navbar-header page-scroll">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="/">Fastrip</a>
			        </div>

			        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			            <ul class="nav navbar-nav navbar-right">

			                <li class="hidden">
			                    <a href="/"></a>
			                </li>

			                <li class="page-scroll">
			                    <p class='it-menu'>
			                    <% if user_signed_in? %>
			                        Bem vindo <strong><%= current_user.name %></strong>!
			                        <%= link_to 'Edit profile', edit_user_registration_path %> 
			                        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
			                    <% else %>
			                        <%= link_to "Entrar", new_user_session_path, :class => 'btn submit-buttons'  %>
			                    <% end %>
			                    <p>
			                </li>
			            </ul>
			        </div>
			    </div>
			</nav>
			
			<div class="general-form">
		    	<%= yield %>
		    </div>

		    <footer>
		        <section id="footer" class="footer-section">
		            <div class="container">
		                <div class="row">
		                	<p class="footer"> &copy; 2015 Maycon Sacht - Todos os direitos reservados.</p>
		                </div>
		            </div>
		        </section>
		    </footer>

		    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		</div>
	</body>
</html>